<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wteam.ug.mapper.NumberMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wteam.ug.pojo.Number">
        <id column="number_id" property="numberId" />
        <result column="alive_number" property="aliveNumber" />
        <result column="date" property="date" />
        <result column="register_number" property="registerNumber" />
        <result column="work_order_number" property="workOrderNumber" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        number_id, alive_number, date, register_number, work_order_number
    </sql>

</mapper>
