<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wteam.ug.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wteam.ug.pojo.Role">
        <id column="role_id" property="roleId" />
        <result column="create_time" property="createTime" />
        <result column="role_name" property="roleName" />
        <result column="role_type" property="roleType" />
        <result column="user_key_id" property="userKeyId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        role_id, create_time, role_name, role_type, user_key_id
    </sql>

</mapper>
